In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("Resources/analysis_data.csv")

In [3]:
dataset=dataset.set_index("City")
dataset

,Country Code,Lat [deg],Long [deg],Temperature [F],Humidity [%],Cloudiness [%],Wind Speed [mph]
City,,,,,,,
rikitea,pf,-23.12,-134.97,77.036,76,19,4.69
busselton,au,-33.65,115.33,81.428,29,100,7.54
punta arenas,cl,-53.15,-70.92,50.000,66,78,8.70
ushuaia,ar,-54.80,-68.30,53.600,91,40,6.20
hobart,au,-42.88,147.33,59.486,47,75,6.20
...,...,...,...,...,...,...,...
dikson,ru,73.51,80.55,30.056,96,100,7.71
college,us,64.86,-147.80,12.758,71,1,1.04
havoysund,no,71.00,24.66,15.800,85,100,11.80
narsaq,gl,60.92,-46.05,19.400,79,98,0.59
vardo,no,70.37,31.11,20.156,76,100,10.17

In [4]:
html_str=dataset.to_html()

In [5]:
Html_file= open("Resources/HTML_Table","w")
Html_file.write(html_str)
Html_file.close()